@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div>Hello, @context.User.Identity?.Name</div>
                </Authorized>
                <NotAuthorized>
                    <div>You're not authorized</div>
                </NotAuthorized>
            </AuthorizeView>
            <a href="/logout">LogOut</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="10" IconType="IconType.FontAwesome"
    SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug" />


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
